<div class="about-background">
  <div class="title-container p-8 mt-24">
    <h2 class="text-white text-3xl font-bold mb-8">Qui sommes-nous ?</h2>
  </div>
  <div class="container mx-auto text-black">
    <div
      class="flex flex-row items-center about-content p-8 bg-opacity-70 bg-gray-800 rounded-lg"
    >
      <div class="p-4 ml-24">
        <ul class="text-lg text-white list-disc list-inside">
          <li>ADM Perf est une entreprise jeune et dynamique</li>
          <li>
            Spécialisée dans la reprogrammation et le déblocage de
            fonctionnalités
          </li>
          <li>Pour les véhicules BMW et du groupe Volkswagen.</li>
          <li>
            Conseils sur mesure personnalisés à votre véhicule et votre conduite
          </li>
          <li>Nos reprogrammations sont sur mesure</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-portfolio></app-portfolio>
