<div class="bg-black flex items-center justify-center p-32 px-8 pt-24">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-16">
    <!-- Card 1 -->
    <div class="flex flex-col rounded-2xl w-full bg-white shadow-xl p-8">
      <div class="flex flex-col">
        <div
          class="text-2xl font-bold uppercase text-center text-orange-600 pb-6"
        >
          Golf 6 GTI
        </div>
        <div class="text-lg text-center text-black">
          Profitez d'une expérience de conduite améliorée avec la
          reprogrammation de la Golf 6 GTI. Performances accrues et
          personnalisation complète.
        </div>
        <div class="flex justify-end pt-6">
          <button
            routerLink="/services"
            class="bg-black text-white w-full font-bold text-base p-3 rounded-lg hover:bg-orange-700 active:scale-95 transition-transform transform"
          >
            Réservez ici !
          </button>
        </div>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="flex flex-col rounded-2xl w-full bg-white shadow-xl p-8">
      <div class="flex flex-col">
        <div
          class="text-2xl font-bold uppercase text-center text-orange-600 pb-6"
        >
          Seat Ibiza Bocanegra
        </div>
        <div class="text-lg text-center text-black">
          Optimisez les performances de votre Seat Ibiza Bocanegra avec nos
          solutions de reprogrammation sur mesure pour une conduite
          exceptionnelle.
        </div>
        <div class="flex justify-end pt-6">
          <button
            routerLink="/services"
            class="bg-black text-white w-full font-bold text-base p-3 rounded-lg hover:bg-orange-700 active:scale-95 transition-transform transform"
          >
            Réservez ici !
          </button>
        </div>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="flex flex-col rounded-2xl w-full bg-white shadow-xl p-8">
      <div class="flex flex-col">
        <div
          class="text-2xl font-bold uppercase text-center text-orange-600 pb-6"
        >
          BMW Série 3 E46
        </div>
        <div class="text-lg text-center text-black">
          Redécouvrez votre BMW Série 3 E46 avec notre reprogrammation moteur
          pour des performances et une réactivité optimisées.
        </div>
        <div class="flex justify-end pt-6">
          <button
            routerLink="/services"
            class="bg-black text-white w-full font-bold text-base p-3 rounded-lg hover:bg-orange-700 active:scale-95 transition-transform transform"
          >
            Réservez ici !
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-services></app-services>
