<nav class="bg-black p-2">
  <div class="container mx-auto flex items-center justify-between">
    <div class="flex items-center">
      <img
        src="assets/logo.jpg"
        alt="ADM Perf Logo"
        class="w-16 h-16 rounded-full mr-4"
      />
    </div>
    <div>
      <a href="/" class="text-gray-400 hover:text-orange-500 mx-2">Accueil</a>
      <a href="/services" class="text-gray-400 hover:text-orange-500 mx-2"
        >Services</a
      >
      <a href="/portfolio" class="text-gray-400 hover:text-orange-500 mx-2"
        >Portfolio</a
      >
      <a href="/about" class="text-gray-400 hover:text-orange-500 mx-2"
        >À Propos</a
      >
      <a href="/contact" class="text-gray-400 hover:text-orange-500 mx-2"
        >Contact</a
      >
    </div>
  </div>
</nav>
